## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
b = 8.5
type (b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
Nombre = "Matias Majul"
print (Nombre)

Matias Majul

5) Crear una variable que contenga un número complejo

In [5]:
C= complex(4,5)
print(C)

(4+5j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(C)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
PI = 3.1416 

print (round(PI , 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [1]:
X = 'True'
Y = True
print(X, Y)

True True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [2]:
print (type (X))
print (type(Y))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
Num =( 5 + 2.5)
print (Num)

7.5

11) Realizar una operación de suma de números complejos

In [23]:

N =  complex(5 ,6)
M = complex (3 , 4)
Suma = (N + M)
print (Suma)

(8+10j)

In [9]:
nbe = 'Matias'
for practica in nbe :
    if practica == 't':
        continue
    print (practica)

M
a
i
a
s

In [10]:
cadena= 'Python'

for letra in cadena :
    if letra == 't' :
        continue
    print (letra)

P
y
h
o
n

12) Realizar una operación de suma de un número real y otro complejo

In [25]:
N1 = complex (4 ,5)
M1 = complex (6 ,3)
N2 = 10
M2 = 30
Sum1 = (N1+M1)
Sum2 = (N2+M2)
print (Sum1)
print  (Sum2)

(10+8j)
40

13) Realizar una operación de multiplicación

In [26]:
J = (5*5)
print(J)

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
H= 2**8
print (H)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [30]:
Co = (27 / 4)
print (Co)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
Co2 = ( 27 // 4)
print (Co2)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
di = (27 % 4)
print (di)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
Op1=(4*6)
Ope = 3
Rta = (Op1+Ope)
print (Rta)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [38]:
Name = "Matias"
LastName= "Majul"
print (Name +" " +LastName)

Matias Majul

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
A1 = "2"
A2 = 2
print ( A1 == A2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
A1 = int ("2")
print ( A1 == A2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [49]:
a= float(3.8)  
print (a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [1]:
U = 3
U -= 1
print (U)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [2]:
p= (1 <<2)
print (p)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [3]:
Ss = 2
S = "2"
print (Ss+ S) # No se puede porque , uno es un N° entero y el otro un String , sino se modifica el string a entero por ej , siempre dara el mismo error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [5]:
V= '2'
B= 2
V= int ('2')
print (V + B)

4